
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
  /*text-align: center;*/
}

svg {
  /*border: 1px solid gray;*/
  background-color: #fff;
  vertical-align: middle;
  width: 100%;
}

.node {
  stroke: black;
  stroke-width: 1;
}

.edge {
  stroke: gray;
  stroke-width: 1;
}

#slider {
  width: 60%;
}

.slider_label {
  text-align: center;
  font-family: sans-serif;
  font-size: smaller;
}

#slider_panel {
  margin-left: 10px;
  margin-right: 10px;
}

line.popup {
  stroke: black;
  stroke-width: 1;
  pointer-events: none;
}

text.popup {
  font-family: sans-serif;
  font-size: 12px;
  dominant-baseline: central;
  text-anchor: middle;
}

rect.popup {
  pointer-events: none;
}

span.for-select {
  font-size: smaller;
}

.my-separator {
  display: inline-block;
  width: .25em;
}

.card {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border: none;
}

.titlebar {
  display: flex;
  justify-content: space-between;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.titlebar label {
  color: white;
}

.legend .label {
  font-size: x-small;
  text-anchor: middle;
  dominant-baseline: hanging;
}

.powered {
  font-size: smaller;
}